node_modules/
dist/
build/
.env
.env.local
.env.prod
.env.*.local

# Maxfiy: TLS sertifikatlar, mobil signing
infra/nginx/ssl/
infra/certbot/
**/key.properties
*.jks
*.keystore
*.log
coverage/
.DS_Store
.idea/
.vscode/
*.tsbuildinfo
prisma/migrations/dev/
.next/
.expo/
ios/Pods/
android/.gradle/
